# Oh My Font Template Configurations
# by nongthaihoang @ GitLab
# https://gitlab.com/nongthaihoang/omftemplate


# STATIC FONTS

# Use bold font?
# false, true
BOLD=false


# VARIABLE FONTS

# Font weight
# [T] Thin    [EL] Extra Light [L]  Light
# [R] Regular [M]  Medium      [SB] Semi Bold
# [B] Bold    [EB] Extra Bold  [BL] Black
#
# Font style
# Syntax:
# <style>=[axis1 value1] [axis2 value2] ...
# e.g.
# UR=wght 400
# IR=wght 400 slnt 1
# CR=wght 400 wdth 75
# DR=wght 400 wdth 75 slnt 1

# [U]pright
UT  =
UEL =
UL  =
UR  =
UM  =
USB =
UB  =
UEB =
UBL =

# [I]talic
IT  =
IEL =
IL  =
IR  =
IM  =
ISB =
IB  =
IEB =
IBL =

# [C]ondensed
CT  =
CEL =
CL  =
CR  =
CM  =
CSB =
CB  =
CEB =
CBL =

# [D] Condensed Italic
DT  =
DEL =
DL  =
DR  =
DM  =
DSB =
DB  =
DEB =
DBL =


### 2021052101 ###

# Sans Serif
SS=
# Sans Serif Italic
SSI=
